<div class="contact-container">
    <div class="contact-card">
        <h1>Contact Us</h1>

        <div class="contact-details">
            
            <p><strong>Mobile:</strong> <a href="tel:+94 74465000">+94 74465000</a>, <a href="tel:+94 713465465">+94 713465465</a></p>
            <p><strong>Address:</strong> NO 08,Main Street, Matale, Sri Lanka</p>
        </div>

        <h2>Follow Us</h2>
        <div class="social-links">
            <a href="https://facebook.com" target="_blank">
                <img src="https://cdn-icons-png.freepik.com/256/13051/13051733.png?ga=GA1.1.1481938080.1719060582&semt=ais_hybrid" alt="Facebook">
            </a>
            <a href="https://instagram.com" target="_blank">
                <img src="https://cdn-icons-png.freepik.com/256/2111/2111463.png?ga=GA1.1.1481938080.1719060582&semt=ais_hybrid" alt="Instagram">
            </a>
            <a href="https://wa.me/1234567890" target="_blank">
                <img src="https://cdn-icons-png.freepik.com/256/3536/3536445.png?ga=GA1.1.1481938080.1719060582&semt=ais_hybrid" alt="WhatsApp">
            </a>
        </div>
    </div>
</div>
